* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
  background-color: #495c6b;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
} 
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}
table, th, td {
  border: 1px solid #ddd;
}
th, td {
  padding: 10px;
  text-align: center;
}
th, td {
  padding: 10px;
  text-align: center;
}
th {
  background-color: #495c6b;
  color: white;
}
td {
  background-color: #f0f8ff;
}
  
  caption {
    margin-bottom: 10px;
font-size: 18px;
font-weight: bold;
}
.container {
width: 80%;            
max-width: 1200px;      
margin: 0 auto;         
padding: 20px;          
background-color: #fff; 
border-radius: 10px;    
box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
}
img {
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  width: 150px;
  height: 200px;
}

p{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: #f4f4f4;
}

div {
    text-align: center;
    padding: 20px;
}
.links a {
  text-decoration: none;
  color: white;
  background-color: #495c6b;
  padding: 10px 20px;
  border-radius: 5px;
  margin: 0 5px;
  display: inline-block;
}
.keterangan {
  margin: 0;
  display: flex;
  justify-content: left;
  align-items: center;
  height: 50px;
  background-color: #ffffff;

}
pre{
  font-family: 'Times New Roman', Times, serif;
  line-height: 1.6;
  background-color: #f4f4f4;
}